html, body {
    height: 100%;
    scroll-padding-top: 10%;
    overflow-x: hidden;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;

  }
  @font-face {
    font-family: helvetica-light;
    src: url(Helvetica_Light_Regular.otf);
  }
.full-bg{
    width: 100%;
    height: 100%;
    background: url('ants-transparent--horizontal2.gif'),  url('new_desktop_combined.jpg');
  background-repeat: no-repeat;
 background-size: cover, cover;
 background-position: center, center;
background-blend-mode:multiply;
}
.prod-images{
    width: 100%;
    display: block;
}
.footer{
  font-family: helvetica-light;
  bottom: 0;


margin-bottom: 1vw;
  position: fixed;
  font-size: 1.5vw;
 width: 100%;
}
.swipe-txt{
  display: none;
}
.silver-txt{
  display: block;
  font-family: helvetica-light;
  font-weight: 700;
  font-size: 1.5vw;
  top: 90%;
  left: 82%;
  position: absolute;
}
.operated-txt{
  margin-left: 2vw;
}
.email-txt{
   float: right;
   margin-right: 2vw;
 }
 .add-to-cart{
  top: 80%;
  left: 80%;
  position: absolute;
  
 }

@media screen and (max-width: 820px) {
  .full-bg{
    width: 100%;
    height: 100%;
    background: url('ants-transparent.gif'),  url('new_mobile-combined-1.jpg');
  background-repeat: no-repeat;
 background-size: cover, 100% 100%;
background-position: 0,center;
}

.add-to-cart{
  display: block;
  position: fixed;
  top: 85%;
 left: -15%;
}

.silver-next{
  font-family: helvetica-light;
}
.footer{
  font-family: helvetica-light;
  bottom: 0;
margin-bottom: 3vw;
  position: fixed;
  font-size: 3vw;
 width: 100%;
}
.operated-txt{
  padding-left: 3vw;
}
.email-txt{
 padding-right: 3vw;
  float: right;
}
.silver-txt{
  position: fixed;
  top: 40%;
  left: 5%;
  font-size: 3.5vw;
  font-weight: 600;
display: none;
}
.swipe-txt{
  font-size: 3vw;
  font-weight: 700;
  position: fixed;
  top: 78%;
  right: 5%;
  display: none;
}
}

