html, body {
    height: 100%;
    scroll-padding-top: 10%;
    overflow-x: hidden;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;

  }
  @font-face {
    font-family: helvetica-light;
    src: url(Helvetica_Light_Regular.otf);
  }
.full-bg{
    width: 100%;
    height: 100%;
    background: url('ants_overlay_desktop.gif'),  url('final_desktop_bg.jpg');
  background-repeat: no-repeat;
 background-size: cover, cover;
 background-position: center, center;
background-blend-mode:multiply;
}
.prod-images{
    width: 100%;
    display: block;
}
.footer{
  font-family: helvetica-light;
  bottom: 0;

margin-bottom: 1vw;
  position: fixed;
  font-size: 1vw;
 width: 100%;
}
.swipe-txt{
  display: none;
}
.silver-txt{
  display: block;
  font-family: helvetica-light;
  font-weight: 700;
  font-size: 1.5vw;
  top: 90%;
  left: 82%;
  position: absolute;
}
.email-txt a{
  color: black;
  text-decoration: none;
}
.operated-txt{
  margin-left: 2vw;
}
.email-txt{
   float: right;
   margin-right: 2vw;
 }
 .add-to-cart{
  top: 87%;
  left: 3%;
  position: fixed;
  width: 15%;
  filter: drop-shadow(2px 0.5px 10px rgba(0, 0, 0, 0.5));
 }
 .mobile-logo img{
display: none;

}
@media screen and (max-width: 820px) {
  .full-bg{
    width: 100%;
    height: 100%;
    background: url('ants-transparent.gif'),   url('/mobile_bg-1.jpg'), url('/mobile_bg-2.jpg');
  background-repeat: no-repeat;
 background-size: cover, 100% 100%, 0 0;
background-position: 0, center;
}
.desktop-logo img{
display: none;
}
.mobile-logo img{
  width: 85%;
  padding-top: 15%;
  margin-left: 5%;
display: block;
}

.add-to-cart{
  display: block;
  position: absolute;
  top: 83%;
width: 30%;
filter: drop-shadow(2px 0.5px 10px rgba(0, 0, 0, 0.5));
}

.silver-next{
  font-family: helvetica-light;
}
.footer{
  font-family: helvetica-light;
  bottom: 0;
margin-bottom: 3vw;
  position: fixed;
  font-size: 3vw;
 width: 100%;
}
.operated-txt{
  padding-left: 3vw;
}
.email-txt{
 padding-right: 3vw;
  float: right;
  display: block;
}
.silver-txt{
  position: fixed;
  top: 30%;
  left: 5%;
  font-size: 3vw;
  font-weight: 700;
display: block;

font-family: helvetica-light;
}
.swipe-txt{
  font-size: 3vw;
  font-weight: 700;
  position: fixed;
  top: 78%;
  right: 5%;
  display: none;
}
}

